{% set bodyClass = 'public-page' %}
{% set isExternal  = entry.isExternalUrl %}
{% set externalUrl = entry.externalUrl %}

{% if isExternal and externalUrl %}
    {% redirect externalUrl %}
{% endif %}

{% extends "_layouts/base" %}

{% block main %}

    <div class="page-wrapper _wr">
        Public page
    </div>

{% endblock %}
